# Executables
bin
cli
spotifier
spotifier-cli
*.exe

# MacOS
.DS_Store

# Node.js
node_modules

# Generated wrapper bundle
jsHelper/spotifierWrapper.js
jsHelper/spotifierWrapper.js.map

# Logs
install.log
